# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store

# IDEs
.idea/
.vscode/
.vs/

# Crash/Profiler
*.stacktrace

# Addressables cache
/Assets/AddressableAssetsData/*.bin*/